body,
html {
  background-color: rgb(241, 242, 245);
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
  line-height: 31px;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  font-weight: bold;
  letter-spacing: 0.1em;
}

.site-layout .site-layout-background {
  background: #fff;
}
.layout-footer a {
  color: 'rgba(0, 0, 0, 0.65)';
}

.ant-layout-header {
  position: fixed;
  width: 100%;
  z-index: 99999;
}

a {
  color: rgba(0, 0, 0, 0.65);
}
a:hover {
  color: #ec5658;
}

.search {
  width: 300px;
  height: 64px;
  position: absolute;
  top: 0;
  right: 51px;
  padding-top: 15px;
}

.search .ant-input {
  background: none;
  color: rgba(255, 255, 255, 0.5);
}

.midSearch {
  width: 100%;
  background: rgba(0, 21, 41, 1);
  height: 300px;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 64px;
}
.midSearch p {
  font-size: 50px;
  margin-top: 50px;
}
